<div class="col-xl-3 col-lg-4 m-3 card p-0">
    <h2 class="card-header"> <%= name %> </h2>
    <div class="card-body">
      <h5 class="card-text"><%= email %> </h5>
      <p class="card-text"><%= tel %> </p>
      <a href="/delete/<%= _id %> " class="btn btn-danger">Eliminar</a>
      <a href="/edit/<%= _id %> " class="btn btn-warning text-light">Editar</a>
    </div>
</div>